.root {
  background-color: transparent;
  margin: 0;
  display: flex;

  .trigger {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.content[data-align = 'end'],
.content[data-align = 'start'],
.content[data-align = 'center'] {
  width: 100%;
  top: 8px;
  left: calc(50% - 104px);
  position: relative;

  .arrow {
    position: absolute;
    top: -4px;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
  }
}

.content {
  position: relative;
  border-radius: 4px;
  color: var(--color-light-100);
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  padding: 12px;

  .item {
    padding: 0;
    margin: 0;
    outline: none;
    display: flex;
    flex-direction: column;
  }

  .arrow {
    position: absolute;
    z-index: -10;
    transform: rotate(45deg);
    background-color: var(--color-dark-700);
    border: 1px solid var(--color-dark-500);
    border-top: none;
    border-left: none;
    fill: var(--color-dark-700);
  }
}

.profileDropDownBlock {
  display: flex;
  align-items: flex-end;
  padding-right: 28px;
  padding-bottom: 12px;

  .profileImg {
    width: 36px;
    height: 36px;
  }

  .itemsBlock {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 8px;
    cursor: pointer;
    .nameText {
      cursor: pointer;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;

    }

    .emailText {
      margin: 0;
      color: var(--color-dark-100);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0;
      text-align: left;
    }
  }
}

.itemDropDownBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 12px;

  &:first-child {
    padding-top: 0;
  }

  &:not(:last-child) {
    padding-bottom: 12px;
  }

  .itemDropDownContent {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;

    .imageSvg {
      width: 16px;
      height: 16px;
      margin-right: 6px;
    }

    .title {
      margin: 0;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      text-align: left;
      vertical-align: bottom;
    }
  }
}

.separator {
  background: var(--color-dark-500);
  height: 1px;
  width: 100%;
}
