.informationBlock {
  display: flex;
  justify-content: space-between;

  .leftBlock {
    display: flex;
    align-items: center;
    flex-direction: column;

    .blockTitleDeck {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .title {
        margin: 0 16px 0 0;
      }

      .menu {
        box-sizing: border-box;
        left: 162px;
      }

      .trigger {
        width: 24px;
        height: 24px;
      }
    }

    .imageCover {
      width: 170px;
      height: 100%;
      margin-bottom: 25px;
    }
  }

  .searchInput {
    width: 100%;
    margin-bottom: 24px;
  }
}
.button {
  height: 36px;
}

.dropDown {
  transform: translateX(65px);
}
