.modal {
  justify-content: normal;
  inset: 100px;

  .deckModal {
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0 0;
    width: 494px;

    .inputBlock {
      display: flex;
      flex-direction: column;

      .image {
        height: 200px;
        width: 100%;
        object-fit: contain;
        object-position: center;
        margin-bottom: 10px;
      }

      .select {
        width: 494px;
        box-sizing: border-box;
      }

      .inputQuestion {
        padding-top: 24px;
      }

      .inputAnswer {
        padding: 24px 0;
      }
    }

    .buttonsBlock {
      padding: 12px 0 36px;
      display: flex;
      justify-content: space-between;
    }
  }
}
