.cardBlock {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 33px 36px 29px;

  .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin: 0 auto;
    padding-bottom: 27px;
    text-align: center;
  }

  .inputEmail {
    margin-bottom: 24px;
  }

  .inputPassword {
    margin-bottom: 12px;
  }

  .inputConfirmPassword {
    margin-bottom: 60px;
  }

  .buttonSubmitForm {
    margin: 0 0 20px;
    width: 100%;
  }

  .linkDontHaveAccount {
    display: block;
    color: var(--color-light-900);
    text-align: center;
    margin-bottom: 11px;
  }

  .linkSignUp {
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-accent-500);
    text-decoration: underline var(--color-accent-500) solid 1px;
  }
}