.cardBlock {
  display: flex;
  flex-direction: column;
  padding: 33px 36px 29px;
}

.title {
  margin: 0 auto;
  padding-bottom: 27px;
  text-align: center;
}

.inputEmail {
  margin-bottom: 24px;
}

.inputPassword {
  margin-bottom: 12px;
}