@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

.sliderBlock {
  height: 50px;
  display: flex;
  max-width: 251px;
  align-items: center;

  .valueText {
    margin: 0 ;
    text-align: center;
    padding: 6px 0;
    vertical-align: center;
    color: var(--color-light-100);
    min-width: 36px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid var(--color-dark-300);
  }

  .SliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 155px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;

    .SliderTrack {
      background-color: var(--color-accent-700);
      position: relative;
      flex-grow: 1;
      border-radius: 9999px;
      height: 5px;

      .SliderRange {
        position: absolute;
        background-color: var(--color-accent-500);
        border-radius: 9999px;
        height: 100%;
      }
    }

    .SliderThumb {
      display: block;
      outline: none;
      width: 16px;
      height: 16px;
      background-color: white;
      border: 4px solid var(--color-accent-500);
      border-radius: 50%;
      cursor: pointer;
    }

    .SliderThumb:hover {
      outline: none;
    }

    .SliderThumb:focus {
      outline: none;
    }
  }
}





