.paginationContainer {
  width: 535px;
  height: 24px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.paginationArrow {
  font-weight: bold;
  font-size: 20px;
}

.paginationArrow:hover {
  cursor: pointer;
}

.paginationPages {
  display: flex;
  margin: 0 10px;
}

.paginationPage {
  font-size: var(--font-size-s);
  width: 23px;
  height: 27px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.dots {
  width: 23px;
  height: 27px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.paginationPage:hover {
  cursor: pointer;
  background-color: var(--color-dark-500);
}

.paginationSelect {
  box-sizing: border-box;
  width: 50px;
}

.selectMenu {
  display: flex;
  width: 50px;
}

.selectText {
  font-size: var(--font-size-s);
}

.activePage {
  background-color: var(--color-light-100);
  color: var(--color-dark-900);
}

.dropDownContainer {
}

.dropDownText {
}
