.paginationContainer {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.paginationArrow {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.paginationPages {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 10px;
}

.paginationPage {
  font-size: var(--font-size-s);
  width: 23px;
  height: 27px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.dots {
  width: 23px;
  height: 27px;
  margin: 0 10px;
  display: flex;

  justify-content: center;
}

.paginationPage:hover {
  cursor: pointer;
  background-color: var(--color-dark-500);
}

.paginationSelect {
  box-sizing: border-box;
  width: 50px;
}

.selectMenu {
  display: flex;
  width: 50px;
}

.selectText {
  margin: 0;
  width: 60px;
  align-self: center;
  font-size: var(--font-size-s);
}

.activePage {
  background-color: var(--color-light-100);
  color: var(--color-dark-900);
}
