

.root {
  width: 284px;
  background-color: transparent;
}

.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: center;
  color: #808080;;
}

.input {
  width: 100%;
  border: 1px solid #4C4C4C;
  border-radius: 2px;
  min-height: 36px;
  background-color: transparent;
  padding-left: 12px;

  &:focus::placeholder {
    color: transparent;
    padding-left: 12px;
  }


  &:focus {
    padding-left: 12px;
    border: 1px solid #2F68CC;
    outline: none;
    color: #808080;

  }

  &:active {
    border: 1px solid #FFFFFF;
    padding-left: 12px;
    color: #FFFFFF;;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-right: 10px;
  background: url('close-button.svg') no-repeat center;
  cursor: pointer;
}
.searchInput {
  width: 100%;
  padding-left: 41px;
  min-height: 36px;
  background-color: transparent;

  &:focus::placeholder {
    color: transparent;
  }

  &:active {
    padding-left: 41px;
    border: 1px solid #FFFFFF;
  }

  &:focus {
    padding-left: 41px;
  }
}


.slot {
  position: relative;
}

.eyeOpenIcon {
  cursor: pointer;
  position: absolute;
  z-index: 12;
  display: block;
  top: 8px;
  left: 252px;
}

.search {
  cursor: pointer;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 12px;
  color: #808080;

  &:active {

  }

}