//.primary {
//  background-color: red;
//}
//
//.secondary {
//  background-color: green;
//}
//
//.tertiary {
//  background-color: blue;
//}
//
//.link {
//  background-color: yellow;
//}
//
//.fullWidth {
//  width: 100%;
//}
.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #808080;;
}

.input {
  width: 284px;
  min-height: 36px;
  border: 1px solid #4C4C4C;
  background-color: transparent;

  &:focus::placeholder {
    color: transparent;
  }

  &:active {
    &::placeholder {

    }

    border: 1px solid #FFFFFF
  }
}

.slot {
  position: relative;
}

.eyeOpenIcon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 252px;
}