.root {
  width: 284px;
  background-color: transparent;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-right: 10px;
  background: url('close-button.svg') no-repeat center;
  cursor: pointer;
}


.label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  vertical-align: center;
  color: #808080;
}

.labelError {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  vertical-align: center;
  color: #FF0000FF;
}

.input {
  width: 100%;
  border: 1px solid #4C4C4C;
  border-radius: 2px;
  min-height: 36px;
  background-color: transparent;
  padding-left: 12px;
  color: #808080;

  &:focus::placeholder {
    color: transparent;
    padding-left: 12px;
  }

  &:focus {
    padding-left: 12px;
    border: 1px solid #FFFFFF;
    outline: none;
    color: #FFFFFF;
  }

  &:active {
    border: 1px solid #FFFFFF;
    padding-left: 12px;
    color: #FFFFFF;
  }

  &:hover {
  }
}


.searchInput {
  width: 100%;
  padding-left: 41px;
  min-height: 36px;
  background-color: transparent;
  color: #808080;
  border: 1px solid #4C4C4C;
  border-radius: 2px;

  &:focus::placeholder {
    color: transparent;
  }

  &:active {
    padding-left: 41px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
  }

  &:focus {
    padding-left: 41px;
    color: #FFFFFF;
  }
}

.error {
  color: red;
  border: 1px solid red;

  &:focus::placeholder {
    color: transparent;
  }

  &::placeholder {
    color: red;
  }

  &:active {
    border: 1px solid red;
  }

  &:focus {
    border: 1px solid red;
  }
}

.slot {
  position: relative;
}

.eyeOpenIcon {
  cursor: pointer;
  position: absolute;
  z-index: 12;
  display: block;
  top: 8px;
  left: 252px;
  height: 20px;
  width: 20px;
}

.eyeOpenIconDisabled {
  cursor: pointer;
  position: absolute;
  z-index: 12;
  display: block;
  top: 8px;
  left: 252px;
  height: 20px;
  width: 20px;
  path {
    fill: #808080;
  }
}

.search {
  cursor: pointer;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 12px;
  color: #808080;
  height: 20px;
  width: 20px;

  path {
    fill: #808080;
  }

  &:hover {
    color: #808080;
    fill: #808080;
  }

  &:hover::placeholder {
    color: #808080;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #1f1f20;
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
