.deckModal {
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 0 0;
  width: 494px;

  .titleBlock {
    display: flex;
    padding: 18px 24px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-dark-500);
  }

  .textBlock {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;

    .text {
      margin: 0;
    }
  }

  .buttonsBlock {
    padding: 12px 0 36px;
    display: flex;
    justify-content: space-between;
  }
}