
.button {
  outline: none;
  border: none;
  color: var(--color-light-100);
}

.buttonPrimaryText {
  margin-left: 10px;
}

.primary {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  background-color: #8C61FF;
  padding: 6px 28px;
  border-radius: 4px;
  color: var(--color-light-100);
  box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
  font-weight: 700;

  &:hover {
    background: rgba(162, 128, 255, 1);
    box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
  }

  &:focus {
    box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
    background-color: #8C61FF;
  }

  &:active {
    outline: 2px solid rgba(47, 104, 204, 1);
    box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
    background: rgba(112, 78, 204, 1);
  }

  &:disabled {
    background: rgba(56, 39, 102, 1);
    box-shadow: 0 4px 18px 0 rgba(140, 97, 255, 0.35);
    color: rgba(195, 193, 199, 1);
  }

}

.secondary {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 6px 28px;
  border-radius: 4px;
  color: var(--color-light-100);
  font-weight: 700;
  background: rgba(76, 76, 76, 1);
  box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);

  &:hover {
    background: rgba(128, 128, 128, 1);
    box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);
  }

  &:focus {
    box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);
    background: rgba(51, 51, 51, 1);
  }

  &:active {
    outline: 2px solid rgba(47, 104, 204, 1);
    background: rgba(76, 76, 76, 1);
    box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);
  }

  &:disabled {
    background: rgba(76, 76, 76, 1);
    box-shadow: 0 2px 10px 0 rgba(109, 109, 109, 0.25);
    color: rgba(195, 193, 199, 1);
  }
}

.tertiary {
  background-color: transparent;
  color: rgba(151, 71, 255, 1);
  outline: none;
  padding: 6px 28px;
  border-radius: 4px;
  border: 1px solid rgba(140, 97, 255, 1);


  &:hover {
    background: linear-gradient(0deg, #333333, #333333),
    linear-gradient(0deg, #704ECC, #704ECC);
    border: 1px solid rgba(112, 78, 204, 1);
    color: rgba(140, 97, 255, 1);
  }

  &:focus {
    background: linear-gradient(0deg, #704ECC, #704ECC),
    linear-gradient(0deg, #382766, #382766);
    border: 1px solid rgba(112, 78, 204, 1)
  }

  &:active {
    outline: 2px solid rgba(47, 104, 204, 1);
    border: 1px solid rgba(151, 71, 255, 1);
    background: transparent;
  }

  &:disabled {
    background: transparent;
    border: 1px solid rgba(56, 39, 102, 1);
    color: rgba(56, 39, 102, 1);
  }
}

.link {
  background-color: transparent;
  cursor: pointer;
  color: rgb(140, 97, 255, 1);
  padding: 6px 6px;
  border: none;

  &:focus {
    color: rgba(112, 78, 204, 1);
  }

  &:hover {
    color: rgba(162, 128, 255, 1);
  }

  &:active {
    border-radius: 20px;
    outline: 2px solid rgba(47, 104, 204, 1);
    background: transparent;
  }

  &:disabled {
    color: rgba(56, 39, 102, 1);
  }
}

.secondaryWithIcon {
  background-color: rgba(76, 76, 76, 1);
}

.icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;

}