.primary,
.primaryWithIcon {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-500);
  padding: 6px 28px;
  border-radius: 4px;
  color: var(--color-light-100);
  box-shadow: 0 4px 18px 0 var(--color-accent-900);
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    background: var(--color-accent-500);
    box-shadow: 0 4px 18px 0 var(--color-accent-900);
  }

  &:focus {
    box-shadow: 0 4px 18px 0 var(--color-accent-900);
    background-color: var(--color-accent-500);
  }

  &:active {
    outline: 2px solid var(--color-info-500);
    box-shadow: 0 4px 18px 0 var(--color-accent-900);
    background: var(--color-accent-700);
  }

  &:disabled {
    background: var(--color-accent-900);
    box-shadow: 0 4px 18px 0 var(--color-accent-900);
    color: var(--color-accent-100);
  }
}

.secondary,
.secondaryWithIcon {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 6px 28px;
  border-radius: 4px;
  color: var(--color-light-100);
  font-weight: 700;
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 var(--color-dark-500);
  cursor: pointer;
  box-sizing: border-box;
  .buttonSecondaryText {
    color: var(--color-light-100);
  }

  &:hover {
    background: var(--color-dark-100);
    box-shadow: 0 2px 10px 0 var(--color-dark-500);
  }

  &:focus {
    box-shadow: 0 2px 10px 0 var(--color-dark-500);
    background: var(--color-dark-500)
  }

  &:active {
    outline: 2px solid var(--color-info-500);
    background: var( --color-dark-300);
    box-shadow: 0 2px 10px 0 var(--color-dark-500)
  }

  &:disabled {
    background: var( --color-dark-300);
    box-shadow: 0 2px 10px 0 var(--color-dark-500);
    color: var(--color-dark-100);
  }
}

.tertiary {
  background-color: transparent;
  color: var(--color-accent-500);
  outline: none;
  padding: 6px 28px;
  border-radius: 4px;
  border: 1px solid var(--color-accent-500);
  cursor: pointer;
  box-sizing: border-box;
  .buttonTertiaryText {
    color: var(--color-accent-500);
  }

  &:hover {
    background: linear-gradient(0deg, var(--color-dark-500), var(--color-dark-500)),
      linear-gradient(0deg,var(--color-accent-700) , var(--color-accent-700));
    border: 1px solid var(--color-accent-500);
    color: var(--color-accent-500);
  }

  &:focus {
    background: linear-gradient(0deg, var(--color-accent-700), var(--color-accent-700)),
      linear-gradient(0deg, var(--color-accent-900), var(--color-accent-900));
    border: 1px solid var(--color-accent-500);
  }

  &:active {
    outline: 2px solid var(--color-info-500);
    border: 1px solid var(--color-accent-500);
    background: transparent;
  }

  &:disabled {
    background: transparent;
    border: 1px solid var(--color-dark-700);
    color: var(--color-dark-700);
  }
}

.link {
  background-color: transparent;
  color: var(--color-accent-500);
  padding: 6px 6px;
  border: none;
  cursor: pointer;

  &:focus {
    color: var(--color-accent-500);
  }

  &:hover {
    color: var(--color-accent-500);
  }

  &:active {
    border-radius: 20px;
    outline: 2px solid var(--color-info-500);
    background: transparent;
  }

  &:disabled {
    color: var(--color-dark-700);
  }
}

.disabled {
  color: var(--color-dark-700);
}
