.packListBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.packListFind {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 36px;
  gap: 5px;
  flex-wrap: wrap;

  .iconTrash {
    transform: translateY(1px);
    margin: 0 10px auto 0;
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 477px) {
  .packListFind {
    max-width: 380px;
    justify-content: center;
    gap: 15px;
  }
}
