.deckModal {
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 0 0;
  width: 494px;

  .inputBlock {
    display: flex;
    flex-direction: column;

    .image {
      height: 200px;
      width: 100%;
      object-fit: contain;
      object-position: center;
      margin-bottom: 10px;
    }

    .checkbox {
      padding: 24px 0;
    }
  }

  .buttonsBlock {
    padding: 12px 0 36px;
    display: flex;
    justify-content: space-between;
  }
}
