.deck {

  margin: 0 auto;
  max-width: 1030px;

  .pagination {
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;

  }
}

.modal {
  display: none;
}

.active {
  display: block;
}