.headerBlock {
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--color-dark-700);

  .container {
    margin: 0 auto;
    max-width: 1030px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;

    .logo {
      width: 156.482px;
      height: 36px;
      flex-shrink: 0;
      cursor: pointer;
    }

    .button {
      height: 36px;
    }

    .profileInfoBlock {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  .profileInfo {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .img {
      margin: 0 auto;
      height: auto;
    }

    .text {
      cursor: pointer;
      margin: 0 14px 0 auto;

      position: relative;
      display: inline-block;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-size: 8px 4px;
        background: repeating-linear-gradient(
                        to right,
                        var(--color-light-100) 0, var(--color-light-100) 2px, transparent 2px, transparent 4px
        ) repeat-x;
        z-index: -1;
        border-radius: 2px;
      }

      ::after {
        border-radius: 2px 2px 0 0;
      }
    }
  }
}