.deck {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1030px;

  .backToDecks {
    margin: 24px 0 30px;
  }

  .showAnswer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    height: auto;

    .answerText {
      word-break: break-word;
    }
  }
}

.card {
  padding: 33px 36px 48px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 420px;
  min-height: 265px;
  align-items: center;

  .title {
    margin: 0 0 45px;
  }

  .questionBlock {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: start;
    align-items: center;

    .questionTitle {
      margin-right: 3px;
    }

    .questionText {
      word-break: break-word;
    }
  }

  .numberAttempts {
    width: 100%;
    text-align: left;
    color: var(--color-dark-100);
    margin-bottom: 17px;
  }
}

.image {
  width: 100%;
  height: auto;
}

.button {
  width: 100%;
}

.buttonNextQuestion {
  margin-top: 29px;
}

.emptyDeck {
  display: block;
  margin-top: 69px;
  margin-bottom: 30px;
}

@media (max-width: 610px) {
  .card {
    width: 340px;
  }
}

@media (max-width: 420px) {
  .card {
    width: 280px;
  }
}
